## Enzo Yamamura

### Tratamento da base de dados de BTC

Agradecimento especial para *Zielak* e a base providenciada no Kaggle:
<href>https://www.kaggle.com/mczielinski/bitcoin-historical-data</href>

In [3]:
import pandas as pd

In [5]:
btc = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv')

In [6]:
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Convertendo de Unix para datetime:
btc['Date'] = pd.to_datetime(btc['Timestamp'], unit = 's')

In [8]:
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31 07:52:00
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 07:53:00
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 07:54:00
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 07:55:00
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 07:56:00

In [9]:
btc.sort_values('Date',inplace=True)
btc.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339,2021-03-30 23:56:00
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508,2021-03-30 23:57:00
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496,2021-03-30 23:58:00
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202,2021-03-30 23:59:00
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363,2021-03-31 00:00:00

In [11]:
# Removendo colunas desnecessárias e redefinindo index:
btc = btc [['Date','Open','High','Low','Close','Volume_(BTC)','Volume_(Currency)']]
btc.set_index('Date', drop=True,inplace=True)

In [13]:
# Dicionário para definir critérios de agregação ao agrupar por dia:
ohlc_dict = 
{                                                                                                             
    'Open': 'first',                                                                                                    
    'High': 'max',                                                                                                       
    'Low': 'min',                                                                                                        
    'Close': 'last',                                                                                                    
    'Volume_(BTC)': 'sum',
    'Volume_(Currency)': 'sum',
}

btc_daily = btc.resample('D').agg(ohlc_dict)
btc_daily.head()

            Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)
Date
2011-12-31  4.39  4.58  4.39   4.58     95.317878         425.320338
2012-01-01  4.58  5.00  4.58   5.00     21.602000         105.779160
2012-01-02  5.00  5.00  5.00   5.00     19.048000          95.240000
2012-01-03  5.32  5.32  5.14   5.29     88.037281         464.805210
2012-01-04  4.93  5.57  4.93   5.57    107.233260         568.076197

In [23]:
# Temos dados de 2011 - 2021
# Precisamos apenas de 2015 a 2019 (período dos comentários)
btc_daily = btc_daily.loc['2015-01-01':'2019-12-31']

In [24]:
btc_daily.to_csv('btc_daily.csv')